body{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
    height: 120px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{

}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}