body{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
    height: 120px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:active, nav a:hover{
    background-color: #39aae1;
    color: #ffffff;
}
#banner{
    background: url('../img/img1.jpg') center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}
.column{
    flex-direction: column;
}
.banner-headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.banner-options{
    height: 210px;
}
.banner-headline h1{
    color: #ffffff;
    font-size: 70px;
    text-shadow: 0 1px 0 #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner-headline h2{
    color: #ffffff;
    font-size: 21px;
    text-shadow: 0 1px 0 #555555;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    max-width: 350px;
}